:root {
    --brand-hue: 0;
    --brand-saturation: 100%;
    --brand-lightness: 50%;

    --brand-dark: hsl(0 var(--brand-saturation) var(--brand-lightness));
    --brand-light: hsl(
        0 calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5)
    );

    --text0-light: hsl(0 0% 0%);
    --text1-light: hsl(0 0% 10%);
    --text2-light: hsl(0 0% 20%);
    --text0-dark: hsl(0 0% 100%);
    --text1-dark: hsl(0 0% 85%);
    --text2-dark: hsl(0 0% 65%);

    --surface1-light: hsl(0 0% 90%);
    --surface2-light: hsl(0 0% 99%);
    --surface3-light: hsl(0 0% 92%);
    --surface4-light: hsl(0 0% 85%);
    --surface1-dark: hsl(0 0% 5%);
    --surface2-dark: hsl(0 0% 10%);
    --surface3-dark: hsl(0 0% 20%);
    --surface4-dark: hsl(0 0% 25%);

    /* Info blue */
    --info-hue: 203;
    --info: hsla(var(--info-hue) 100% 50%);

    /* Success green */
    --success-hue: 120;
    --success: hsl(var(--success-hue) 100% 50%);

    /* Warning yellow */
    --warning-hue: 40;
    --warning: hsl(var(--warning-hue) 100% 50%);

    /* Failure red */
    --failure-hue: 2;
    --failure: hsl(var(--failure-hue) 100% 50%);
    --failure-surface1-dark: hsla(var(--failure-hue) 100% 50% / 0.3);

    &[data-theme='dark'] {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text0: var(--text0-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
        --failure-surface1: var(--failure-surface1-dark);
    }

    &[data-theme='light'] {
        color-scheme: light;

        --brand: var(--brand-light);
        --text0: var(--text0-light);
        --text1: var(--text1-light);
        --text2: var(--text2-light);
        --surface1: var(--surface1-light);
        --surface2: var(--surface2-light);
        --surface3: var(--surface3-light);
        --surface4: var(--surface4-light);
    }
}
