body {
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    white-space: pre-wrap;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
