---
import Link from '@/components/ui/Link/Link.astro';
import Text from '@/components/ui/Text/Text.astro';
import styles from './Landing.module.css';

interface Props {
    posts: any[];
}

const { posts } = Astro.props;
---

<div class:list={['grid', styles.root]}>
    <h1>Et Cetera</h1>
    <ul>
        {
            posts.map(post => (
                <li>
                    <Link href={post.url}>
                        <Text as="span">{post.frontmatter.title}</Text>
                    </Link>
                    <p>{post.frontmatter.description}</p>
                </li>
            ))
        }
    </ul>
</div>
