@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    > * {
        grid-column: 1 / -1;
    }
}

@include large {
    .post {
        > * {
            grid-column: 1 / -6;
        }

        > h1,
        > h2,
        > img {
            grid-column: 1 / -1;
        }

    }
}
