@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    padding: var(--grid-margin) 0;

    > * {
        grid-column: 1 / -1;
    }
}

@include large {
    .root {
        > * {
            grid-column: 1 / -5;
        }
    }
}

@include xlarge {
    .root {
        > * {
            grid-column: 1 / -6;
        }
    }
}
