@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    padding: 5rem 0;

    > * {
        grid-column: 1 / -1;
    }
}

@include large {
    .root {
        .post {
            > * {
                grid-column: 1 / -5;
            }
        }
    }
}

@include xlarge {
    .root {
        .post {
            > * {
                grid-column: 1 / -5;
            }
        }
    }
}
