.root {
    padding: 3rem 0;
}

.carousel {
    --image-size: calc(var(--grid-gap) * 4 + var(--grid-col-width) * 5);

    --carousel-gap: var(--grid-margin);
    --carousel-snap-position: var(--grid-margin);
    --carousel-item-width: var(--image-size);
}

.itemContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    background-color: var(--surface-color-2);
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 3rem var(--grid-margin);

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        border: 1px solid var(--border-color-1);
        background-color: var(--surface-color-1);
        color: var(--text-color);
        cursor: pointer;

        &:hover {
            background-color: var(--surface-color-1-hover);
            border-color: var(--text-color);
            font-weight: bold;
        }
    }

    .info {
        margin-left: 2rem;
    }
}
