---
import Layout from '@/layouts/Layout.astro';
import styles from './MDXPostLayout.module.css';

interface Props {
    title?: string;
    description?: string;
    meta?: {
        title?: string;
        description?: string;
    };
    frontmatter?: {
        title?: string;
        description?: string;
    };
}

const props = Astro.props;
const meta = props.frontmatter || props.meta || props;
const { title = 'ETC', description = 'ETC' } = meta;
console.log(styles);
---

<Layout title={title} description={description}>
    <div class:list={['grid', styles.root]}>
        <h1>{title}</h1>
        <slot />
    </div>
</Layout>
