---
interface Props {
    href: string;
    class?: string;
    [key: string]: any;
}

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class={className} {...props}><slot /></a>
