---
import styles from './Header.module.css';
---

<header class:list={[styles.root, 'body']}>
    <div class:list={[styles.container, 'grid']}>
        <h1 class={styles.home} data-reveal="none">
            <a href="/">HAUS Astro TS Starter</a>
        </h1>
        <p class={styles.phase}>
            <span class={styles.phasePrefix}>PageTransitionPhase.</span>
            XXX
        </p>
    </div>
</header>
