@import 'styles/breakpoints';
@import 'styles/fonts';

.emojiGrid {
    --width: var(--grid-content-width);
    --gap-vertical: 0.2rem;
    --gap-emoji: 1.5rem;
    --image-size: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-vertical) var(--grid-gap);
}

.emojiButton {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap-emoji);
    width: var(--width);
    cursor: pointer;

    &:hover {
        .caption {
            font-weight: 700;
            color: var(--text0);

            &.copied {
                color: var(--brand);
            }
        }
    }
}

.image {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: contain;
    margin: 0;
}

.caption {
    width: calc(100% - var(--image-size) - var(--gap));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.copied {
        font-weight: 700;
        color: var(--brand);
    }
}

@include small {
    .emojiGrid {
        --width: calc(3 * var(--grid-col-width) + 2 * var(--grid-gap));
    }
}

@include medium {
    .emojiGrid {
        --width: calc(3 * var(--grid-col-width) + 2 * var(--grid-gap));
    }
}

@media (min-width: 960px) {
    .emojiGrid {
        --width: calc(2 * var(--grid-col-width) + var(--grid-gap));
    }
}

@include large {
    .emojiGrid {
        --width: calc(4 * var(--grid-col-width) + 3 * var(--grid-gap));
    }
}

@media (min-width: 1280px) {
    .emojiGrid {
        --width: calc(3 * var(--grid-col-width) + 2 * var(--grid-gap));
    }
}

@include xlarge {
    .emojiGrid {
        --width: calc(3 * var(--grid-col-width) + 2 * var(--grid-gap));
    }
}

@include xxlarge {
    .emojiGrid {
        --width: calc(2 * var(--grid-col-width) + var(--grid-gap));
    }
}
