$small: 576px;
$medium: 768px;
$large: 1024px;
$xlarge: 1440px;
$xxlarge: 1920px;

@mixin small {
    @media (min-width: $small) {
        @content;
    }
}

@mixin medium {
    @media (min-width: $medium) {
        @content;
    }
}

@mixin large {
    @media (min-width: $large) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: $xlarge) {
        @content;
    }
}

@mixin xxlarge {
    @media (min-width: $xxlarge) {
        @content;
    }
}

@mixin tinyOnly {
    @media (max-width: $small - 1) {
        @content;
    }
}

@mixin smallOnly {
    @media (max-width: $medium - 1) {
        @content;
    }
}

@mixin mediumOnly {
    @media (min-width: $medium) and (max-width: $large - 1) {
        @content;
    }
}

@mixin largeOnly {
    @media (min-width: $large) and (max-width: $xlarge - 1) {
        @content;
    }
}

@mixin xlargeOnly {
    @media (min-width: $xlarge) and (max-width: $xxlarge - 1) {
        @content;
    }
}
