---
import cx from 'clsx';

import styles from './GridOverlay.module.css';
---

{
    import.meta.env.DEV && (
        <x-grid-overlay>
            <div class:list={[styles.gridOverlay, 'grid']}>
                {Array.from({ length: 12 }).map((_, i) => {
                    const columnClass = cx(styles.col, styles[`col${i + 1}`]);
                    return <div class={columnClass} />;
                })}
            </div>
        </x-grid-overlay>
    )
}

<script>
    import GridOverlay from './GridOverlay';

    if (!customElements.get('x-grid-overlay')) {
        customElements.define('x-grid-overlay', GridOverlay);
    }
</script>
